html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none; }

input {
  line-height: normal; }

label,
button {
  cursor: pointer; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #272d38;
  font-weight: 400;
  background-color: #fdfcfc; }

.button {
  display: inline-block;
  padding: 10px 31px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: calc(27.5 / 16);
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase; }
  .button--primary {
    font-weight: 600;
    background-color: #8eadd5;
    color: white; }
  .button--outline {
    background-color: transparent;
    color: #8eadd5;
    font-weight: 500;
    border: 1px solid; }
  .button--rounded {
    border-radius: 10px;
    padding: 10px 31px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1065px;
  margin: 0 auto;
  padding: 0; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .container {
    max-width: 380px;
    margin: 0 auto;
    margin: 0 24px; } }
.header {
  margin-top: 46px; }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px; }
  .header-menuic {
    display: none; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .header-container {
    margin: 49px 0px 95px;
    padding-bottom: 0; }
  .header .menu {
    display: none; }
  .header-menuic {
    display: inherit; } }
.menu {
  display: flex;
  align-items: center;
  gap: 0 50px;
  list-style-type: none; }
  .menu-item a {
    color: #272d38; }

.hero {
  padding-bottom: 100px; }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 75px; }
  .hero-content {
    width: 100%;
    max-width: 540px; }
  .hero-image {
    min-width: 450px; }
  .hero-heading {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: calc(64 / 64);
    color: #000000;
    text-transform: capitalize; }
  .hero-desc {
    color: #272d38;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27.5 / 18);
    margin-bottom: 50px;
    display: inline-block;
    max-width: 525px; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .hero {
    padding-bottom: 120px; }
    .hero-container {
      display: flex;
      flex-direction: column; }
    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .hero-heading {
      text-align: center;
      font-weight: 700;
      font-size: 40px;
      line-height: 1; }
    .hero-desc {
      text-align: center;
      font-size: 16px;
      line-height: calc(27.5 / 16);
      max-width: 378px;
      padding-right: 0;
      margin-bottom: 24px; }
    .hero-image {
      margin-top: 48px; } }
.compainies {
  margin-bottom: 136px; }
  .compainies-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .compainies-truted {
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #667085;
    margin-bottom: 16px; }
  .compainies-intro {
    min-width: 915px;
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .compainies {
    margin-bottom: 88px; }
    .compainies-intro {
      min-width: auto;
      min-height: auto;
      gap: 0 30px; }
      .compainies-intro img {
        max-width: 80px; }
    .compainies-truted {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      margin: 24px 0; } }
.branding {
  padding-bottom: 136px; }
  .branding-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 180px; }
  .branding-content {
    width: 100%;
    max-width: 540px; }
  .branding-image {
    min-width: 450px; }
  .branding-heading {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(64 / 64);
    color: #000000; }
  .branding-desc {
    color: #272d38;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27.5 / 18);
    margin-bottom: 50px;
    display: inline-block;
    max-width: 525px; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .branding-container {
    flex-direction: column; }
  .branding-image {
    order: 2; }
  .branding-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .branding-content img {
      transform: rotate(90deg); }
  .branding-heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1; }
  .branding-desc {
    text-align: center;
    font-size: 16px;
    line-height: calc(27.5 / 16);
    max-width: 378px;
    padding-right: 0;
    margin-bottom: 24px; } }
.custome {
  padding-bottom: 136px; }
  .custome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 180px; }
  .custome-content {
    width: 100%;
    max-width: 540px; }
  .custome-image {
    min-width: 450px; }
  .custome-heading {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(64 / 64);
    color: #000000; }
  .custome-desc {
    color: #272d38;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27.5 / 18);
    margin-bottom: 50px;
    display: inline-block;
    max-width: 525px; }
  .custome-arrow__mobile {
    display: none; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .custome-container {
    flex-direction: column; }
  .custome-arrow {
    display: none; }
  .custome-content {
    text-align: center; }
  .custome-arrow__mobile {
    display: inline-block;
    transform: rotate(90deg); }
  .custome-heading {
    text-align: center; }
  .custome-desc {
    text-align: center; } }
.testimonial {
  margin-bottom: 136px; }
  .testimonial .text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(27.5 / 16);
    margin-bottom: 16px; }
  .testimonial .heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    text-transform: capitalize;
    text-align: center; }
  .testimonial-header {
    max-width: 436px;
    margin: 0 auto 39px;
    text-align: center; }
  .testimonial-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 15px;
    margin-bottom: 176px; }
  .testimonial-item {
    border: 1px solid #DEDCDB;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6; }
  .testimonial-image img {
    margin: 0 auto 8px; }
  .testimonial-name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
    line-height: calc(27.5 / 18); }
  .testimonial-details {
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18.2 / 14);
    text-align: center; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .testimonial-list {
    display: block; }
  .testimonial-item {
    margin-bottom: 40px; } }
.contact {
  padding-bottom: 139px; }
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 90px; }
  .contact-content {
    width: 100%;
    max-width: 361px; }
  .contact-image {
    min-width: 450px; }
  .contact-heading {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: calc(64 / 64);
    color: #000000; }
  .contact-desc {
    color: #272d38;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27.5 / 18);
    margin-bottom: 32px;
    display: inline-block;
    max-width: 360px; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .contact-container {
    flex-direction: column; }
  .contact-heading {
    text-align: center; }
  .contact-image {
    display: none; }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact-desc {
    text-align: center;
    padding: 0; } }
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }
.footer-row1 {
  display: flex;
  justify-content: space-between;
  gap: 0 178px;
  margin-top: 105px; }
.footer-row2 {
  display: flex;
  align-items: center;
  margin-top: 110px; }
.footer-column {
  min-width: 85px;
  max-width: 190px; }
.footer-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(27.5 / 18);
  color: #272d38;
  margin-bottom: 32px; }
.footer-link {
  font-weight: 300px;
  font-size: 16px;
  line-height: 1;
  color: #272d38; }
.footer-links:last-child {
  margin-bottom: 0; }
.footer-item {
  margin-bottom: 24px; }
.footer-matheus {
  font-weight: 300px;
  font-size: 16px;
  line-height: 1;
  color: #272d38;
  margin-bottom: 18px; }
.footer li {
  list-style-type: none; }

@media only screen and (min-width: 1px) and (max-width: 428px) {
  .footer-row1 {
    flex-direction: column; }
  .footer-column {
    text-align: center; }
  .footer-row2 {
    margin-top: 82px; } }

/*# sourceMappingURL=app.css.map */
